beautifulsoup4==4.9.1
boto3==1.13.16
botocore==1.16.16
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cognitojwt==1.2.2
docutils==0.15.2
ecdsa==0.15
Flask==1.1.2
Flask-Cognito==1.14
Flask-Cors==3.0.8
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
lxml==4.5.1
MarkupSafe==1.1.1
pyasn1==0.4.8
python-dateutil==2.8.1
python-jose==3.1.0
requests==2.23.0
rsa==4.0
s3transfer==0.3.3
simplejson==3.17.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.24.3
Werkzeug==1.0.1


